@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/styles/images/rates.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  min-height: 100vh;
  width: 100%;
}

header {
  height: 16vh;
  width: 100%;
  text-align: center;
  padding: 0.1em 4em 0.1em 4em;
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
}

.logo-container {
  padding-top: 10px;
}

.logo-img {
  background-image: url(/styles/images/logo.jpg);
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.navBar {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.navBar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.navBar ul li a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #f8f9fa;
  margin-left: 1em;
}

/* 
.navBar ul li a:hover{
  color: white;
  background-color: rgb(229, 179, 86);
  transition: 1s;
  padding: 0.1em;
} */

.main {
  padding: 60px;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome-container {
  margin-top: 150px;
}
h2 {
  display: inline;
  font-size: 4em;
  background: rgb(200, 204, 218);
  background: linear-gradient(
    117deg,
    rgba(200, 204, 218, 1) 2%,
    rgba(204, 215, 205, 1) 2%,
    rgba(15, 15, 15, 1) 24%,
    rgb(238, 241, 238) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.content {
  margin: 0.1em 0em 0em 1em;
  font-size: 18px;
  color: white;
}
.btn {
  background-color: #495057;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: rgb(14, 11, 11);
  transition: 0.6s;
  color: white;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 3em 1em 0em 1em;
  color: white;

}
.icon-container a {
  margin: 0em 2em 0em 0em;
  font-size: 26px;
}

#facebook {
  color: #343a40;
}

#x {
  color: #343a40;
}
#ins {
  color: #343a40;
}

@media only screen and (max-width: 998px) {
  header {
    height: 16vh;
    width: 100%;
    text-align: center;
    padding: 0.1em 4em 0.1em 4em;
    display: flex;
    justify-content: space-between;
    /* background-color: #343a40; */
  }

  .logo-container {
    padding-top: 14px;
  }

  .logo-img {
    background-image: url(/styles/images/logo.jpg);
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
  }

  .navBar {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }

  .navBar ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .navBar ul li a {
    /* text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f9fa; */
    display: none;
  }

  .main {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }
  .welcome-container {
    margin-top: 130px;
  }
  h2 {
    display: inline;
    font-size: 46px;
    background: rgb(200, 204, 218);
    background: linear-gradient(
      117deg,
      rgba(200, 204, 218, 1) 2%,
      rgba(204, 215, 205, 1) 2%,
      rgba(15, 15, 15, 1) 24%,
      rgba(51, 54, 51, 1) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .content {
    margin: 0.1em 0em 0em 1em;
    font-size: 16px;
  }
  .btn {
    background-color: #495057;
    padding: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
  }

  .btn a {
    text-decoration: none;
    color: white;
  }

  .btn:hover {
    background-color: rgb(14, 11, 11);
    transition: 0.6s;
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 16vh;
    width: 100%;
    text-align: center;
    padding: 0.1em 4em 0.1em 4em;
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
  }

  .logo-container {
    padding-top: 14px;
  }

  .logo-img {
    background-image: url(/styles/images/logo.jpg);
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
  }

  .navBar {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }

  .navBar ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .navBar ul li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f9fa;
  }

  .footer {
    height: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #343a40;
    padding-top: 50px; 
    padding-left: 100px;
    text-align: center;
  }
  
  .icon-container a {
display: none;
  }
  
}



@media only screen and (max-width: 537px) {
  header {
    height: 12vh;
    width: 100%;
    text-align: center;
    padding: 0.1em 4em 0.1em 4em;
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
  }

  .logo-container {
    padding-top: 8px;
    
  }

  .logo-img {
    background-image: url(/styles/images/logo.jpg);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
  }

  .navBar {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }

  .navBar ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .navBar ul li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f9fa;
  }


  .main {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .welcome-container {
    margin-top: 130px;
  }
  h2 {
    display: inline;
    font-size: 46px;
    background: rgb(200, 204, 218);
    background: linear-gradient(
      117deg,
      rgba(200, 204, 218, 1) 2%,
      rgba(204, 215, 205, 1) 2%,
      rgba(15, 15, 15, 1) 24%,
      rgb(187, 190, 187) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .content {
    font-size: 12px;
  }
  .btn {
    background-color: #495057;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 6px;
    border: none;
    margin-top: 8px;
    font-size: 12px;
  }

  .btn a {
    text-decoration: none;
    color: white;
  }




  .footer em{
    height: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #343a40;
    font-size: small;
    text-align: center;
    padding-top: 50px;
    margin-left: -2rem;
  }
  
  .icon-container a {
display: none;
  }
  
}


